
body{
  color:rgb(1, 1, 10);
  background-color: white;
  text-align:center;
  font-family: 'Courier New', Courier, monospace;
}

.steps{
  text-align:left;
}

.progress{
  text-align:left;
  color:rgb(110, 168, 23);
}
a{
  margin-right:5px;
}

.experience{
  margin:50px 20px;
  text-align:left;
}
.education{
  margin:50px 20px;
  text-align:left;
}

.foto{
  margin: 120px 120px;
}