@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

body{
  color: #444;
  background-color: #f5f5dc;
    /* background-color: rgb(207, 228, 235); */
  background-size: cover;
  text-align:left;
  font-family: 'Sarala', sans-serif;
  padding: 5% 25% 10% 25%;
  line-height: 1.5;
}

body.dark{
  background-color: #212121; /* When dark mode is on, set background color to black */
  color: #e8e8e8; /* When dark mode is on, set text color to white */

}

a{
  color:rgb(11, 136, 78);
  margin: 3px;
}

.social-links a{
  margin-right: 5px;
}

header {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}

